`beeline -u "jdbc:hive2://hador-c1.ics.muni.cz:10000/default;principal=hive/hador-c1.ics.muni.cz@ICS.MUNI.CZ"`

1 Vytvořte novou databázi nazvanou stejně, jako je vaše uživatelské jméno.

`create database jhucin;`

2 Vypište si všechny databáze a ověřte, že tam vaše databáze je.

`show databases;`

3 Přepněte se na svou databázi.

`use jhucin;`

4 Vytvořte ve své databázi tabulku lide s poli:
    - jmeno
    - vyska
    - vaha
    - kod_pohlavi
    - datum narozeni



```
create table lide (
jmeno varchar(60),
vyska int,
vaha float,
kod_pohlavi char(1),
datum_nar date)

```

5 Vypište si tabulky ve své databázi a ověřte, že tam tabulka je.

`show tables;`

6 Vložte do tabulky pět záznamů s libovolnými rozumnými hodnotami.

```
insert into table lide values
('Jan', 170, 64, 'M', '1967-11-08'),
('Magda', 168, 61, 'Z', '1974-03-10'),
('Karolina', 161, 42, 'Z', '2004-01-25'),
('Jakub', 179, 81, 'M', '1970-12-12'),
('Tomas', 156, 51, 'M', '2002-08-04');
```

7 Vypište si celou tabulku.

`select * from lide`

8 Vypište si pouze ženy nad 170 cm.

`select * from lide where kod_pohlavi='F' and vyska > 170`

9 Vypište člověka s největší váhou.

`select * from lide order by vaha desc limit 1`

10 Vypište tabulku se jmény a věkem v celých rocích.

`select jmeno, floor(months_between('2017-10-17', datum_nar)/12) as roky from lide`

11 Vytvořte si dále ve své databázi tabulku pohlavi s poli:
    - kod_pohlavi
    - popis

`create table pohlavi (kod_pohlavi char(1), popis varchar(20))`

12 Vložte do této tabulky záznamy za kódy pro muže, pro ženu a nějaký další kód.

`insert into table pohlavi values ('M', 'Muz'), ('F', 'Zena'), ('N', 'Neuvedeno')`

13 Vypište znovu celou tabulku lide s připojenou tabulkou pohlavi;

popis pohlaví místo kódu.
- vypíše jen řádky, kde jsou kódy pohlaví v obou tabulkách shodné

```
select lide.jmeno, pohlavi.popis from lide
join pohlavi on lide.kod_pohlavi=pohlavi.kod_pohlavi
```
- vypíše i řádky, kde kód pohlaví neodpovídá druhé tabulce - doplní se NULL

```
select lide.jmeno, pohlavi.popis from lide
right join pohlavi on lide.kod_pohlavi=pohlavi.kod_pohlavi
```
- vypíše všechny kombinace řádků z první i druhé tabulky

```
select lide.jmeno, pohlavi.popis from lide
cross join pohlavi
```

14 Vypočtěte průměrnou výšku pro muže a pro ženy.

```select kod_pohlavi, avg(vyska) as vyska_prum from lide group by kod_pohlavi```

15 Vypočtěte rozdíl mezi průměrnou váhou mužů a průměrnou váhou žen.

```
select max(prum.vaha_prum)-min(prum.vaha_prum) from
(select kod_pohlavi, avg(vaha) as vaha_prum from lide group by kod_pohlavi) as prum
```